.card {
  height: 160px;
  background-color: rgb(224, 224, 224);
  border: 0.4px solid #f0f0f0;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(0deg);
  border: 1px solid rgba(124, 124, 124);
}
