.card {
  height: 160px;
  background: #f666c6;
  border: 2px solid #f0f0f0;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px white;
}

.flipped {
  transform: rotateY(0deg);
  background: #8ae5fa;
  /* border: 2px solid #ffade4; */
  box-shadow: none;
}

.card-label {
  color: rgb(35, 1, 169);
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
