.card {
  height: 160px;
  background: rgb(246, 102, 198);
  /* border: 0.4px solid #f0f0f0; */
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px white;
}

.flipped {
  transform: rotateY(0deg);
  background: white;
  border: 1px solid rgba(124, 124, 124);
}
